*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
hr{
    width: 85%;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 0 rgba(128, 128, 128, 0.442);
    position: fixed;
    z-index: 3;
}
nav{
    width: 70%;
    display: flex;
    align-items: center;
}
.nav-bar{
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.fa-bars{
    padding: 15px;
    border: 1px solid gray;
    cursor: pointer;
}
.logo{
    width: 17%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo-photo{
    width: 28%;
    height: 90%;
    background-image: url(https://cdn-ath.akamaized.net/landings/214250/1663169276/images/pic-8.png);
    background-size: cover;
    border-radius: 50%;
    border: 1px solid gray;
}
ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav-a{
    text-decoration: none;
    font-size: 0.9rem;
    color: gray;
}
a:hover{
    color: #FF014F;
}
/*About Section*/
.about{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.wrap{
    flex-wrap: wrap;
}
.about-all{
    width: 85%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.abouts{
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.164);
    background: linear-gradient(to left top, white, white, rgba(128, 128, 128, 0.133));
}
.about-left{
    width: 37%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name-div{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 20px;
    color: #523E4C;
}
.name-div:hover{
    transition: 0.5s all;
    transform: translateY(-2%);
}
.fa-user{
    padding: 15px;
    background-color: #F93975;
    border-radius: 50%;
    color: white;
    border: 8px solid #EBBCCE;
}
.hi-div{
    font-size: 50px;
}
.michael{
    color: #FF014F;
}
.mail{
    font-size: 17px;
    color: #F93975;
}
.cv-div{
    width: 100%;
    height: 25%;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #523E4C;
}
.cv-div>p{
    margin-left: 20px;
}
.cv-button{
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 17px;
    text-decoration: none;
    color: #FF014F;
}
.contact-a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-a:hover{ 
    color: white;
}
.colourful:hover{
    transition: 0.5s transform;
    transform: translateY(-5%);
    background: linear-gradient(145deg,rgb(113, 113, 246), rgb(175, 65, 175), rgb(226, 64, 64));
    color: white;
}
.cv-button>a{
    text-decoration: none;
    color: #FF014F;
}
.vitae{
    width: 100%;
}
.img-div{
    width: 60%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    width: 90%; 
    height: 90%;
    border-radius: 10px;
    overflow: hidden;
}
.abt-img{
    width: 100%;
    height: 100%;
    background-image: url(https://rainbowit.net/themes/inbio/wp-content/uploads/2021/08/banner-02.png);
    background-size: cover;
    transition: 0.5s all;
}
.img-zoom:hover{
    transform: scale(1.2);
}

/* Resume Section Css Start */
.education_footer.experience,.education_footer.interview,.education_footer.professionalSkills{
  display: none;
}
.container{
  width: 1320px;
  margin: auto;
}
.myResume{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 66px;
  padding-top: 60px;
}
.myResume .resume_header{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.myResume .resume_header span{
  letter-spacing: 2px;
  display: block;
  line-height: 14px;
  font-weight: 500;
  color: #f9004d;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.myResume .resume_header h2{
  font-size: 60px;
  font-weight: 700;
  color: #3c3e41;
}
.myResume .resume_main {
  margin-top: 50px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;;
}
.myResume .resume_main div {
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myResume .resume_main a{
  padding: 35px 10px;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #1e2125;
  font-size: 18px;
  font-weight: 500;
  
}

.myResume .resume_main div a.active{
  color: #ff014f;
  border-radius: 10px; 
  background: linear-gradient(145deg, #e2e8ec,#ffffff);
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
}
.myResume .resume_main a:hover{
  color: #ff014f;
  border-radius: 10px; 
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
}

.education_footer{
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: left;
  margin-bottom: 5%;
}
.education_footer_right{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.education_footer .education_footer_left,.education_footer_right{
  width: 50%;
}

.education_footer_right_header{
  justify-content: start;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0;
  padding-left: 76px;
}
.education_footer .education_footer_left .education_footer_left_header span,.education_footer_right_header span{
  letter-spacing: 2px;
  display: block;
  line-height: 14px;
  font-weight: 500;
  color: #f9004d;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.education_footer .education_footer_left .education_footer_left_header h4,.education_footer_right .education_footer_right_header h4{
  color: #1e2125;
  font-size: 36px;
  font-weight: 700;
}

.education_footer_left_cards_item,.education_footer_right_cards_item{
  width: 85%;
  height: 250px;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  padding: 45px 40px;
  border-radius: 6px;
  transition: all 0.8s;
  margin-top: 50px;
}
.education_footer_left_cards_item:hover .education_footer_left_cards_item_top div span{
  color: #ffffff;
}
.education_footer_left_cards_item:hover {
  background: linear-gradient(145deg,#6a67ce,#fc636b);
}
.education_footer_left_cards_item:hover .education_footer_left_cards_item_bottom{
  color: #ffffff;
}
.education_footer_left_cards_item:hover .education_footer_left_cards_item_top div h4{
  color: #ffffff;
}
.education_footer_left_cards_item:hover .education_footer_left_cards_item_top div:last-child{
  color: #ffffff;
  background-color: #ff014f;
  box-shadow: none;
}
.education_footer_left_cards_item_top,.education_footer_right_cards_item_top{
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 20px;
  transition: all 0.4s;

}
.education_footer_left_cards_item_top div h4,.education_footer .education_footer_right .education_footer_right_cards_item_top div h4{
  color: #3c3e41;
  font-size: 24px;
  line-height: 39px;
  margin-bottom: 7px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  transition: all 0.4s;

}
.education_footer_left_cards_item_top div span,.education_footer_right_cards_item_top div span{
  color: #3c3e41;
  font-size: 14px;
  transition: all 0.4s;

}
.education_footer_left_cards_item_top div:last-child{
  height: 36px;
  color: #ff014f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  font-size: 14px;
  border-radius: 6px;
  background-color: #ffffff;
  font-weight: 500;
  font-family: "Poppins",sans-serif;
  transition: all 0.4s;
}

.education_footer_left_cards_item_bottom,.education_footer_right_cards_item_bottom{
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3c3e41;
  font-size: 18px;
  line-height: 28px;
  font-family: "Poppins",sans-serif;
  transition: all 0.4s;
}
.footer .footer_right span{
  letter-spacing: 2px;
  display: block;
  line-height: 14px;
  font-weight: 500;
   color: #f9004d; 
  text-transform: uppercase;
  margin-bottom: 20px;
}
.education_footer .education_footer_right h4{
  color: #1e2125;
  font-size: 36px;
  font-weight: 700;
}
.education_footer_right_cards_item_top div:last-child{
  height: 36px;
  color: #ff014f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  font-size: 14px;
  border-radius: 6px;
  background-color: #ffffff;
  font-weight: 500;
  font-family: "Poppins",sans-serif;
  transition: all 0.4s;
}
.education_footer_right_cards_item:hover .education_footer_right_cards_item_top div span{
  color: #ffffff;
}
.education_footer_right_cards_item:hover {
  background: linear-gradient(145deg,#6a67ce,#fc636b);
}
.education_footer_right_cards_item:hover .education_footer_right_cards_item_bottom{
  color: #ffffff;
}
.education_footer_right_cards_item:hover .education_footer_right_cards_item_top div h4{
  color: #ffffff;
}
.education_footer_right_cards_item:hover .education_footer_right_cards_item_top div:last-child{
  color: #ffffff;
  background-color: #ff014f;
  box-shadow: none;
}
.skillheader{
  display: flex;
  justify-content: space-between;
}
.skillheader span{
    margin-bottom: 15px;
    top: -22px;
    font-weight: 400;
    color: grey;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.9;
    left: inherit;
    width: min-content;
}
.education_footer_left_cards_skill,.education_footer_right_cards_skill{
  width: 584px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.education_footer_left_cards_skill h6,.education_footer_right_cards_skill h6{
  box-sizing: border-box;
  margin-bottom: 15px;
  top: -22px;
  font-weight: 400;
  color: grey;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.9;
  left: inherit;
    
 
}
.education_footer_left_cards_skill_bottom,.education_footer_right_cards_skill_bottom{
   height: 9px;
    overflow: visible;
    font-size: 14px;
    border-radius: 10px;
    padding: 3px;
    background: #dce1e4;
    box-shadow: none;
}
.education_footer_right_cards_skill_html,.education_footer_right_cards_skill_css,.education_footer_right_cards_skill_javascript,.education_footer_right_cards_skill_software,.education_footer_right_cards_skill_plugin,.education_footer_left_cards_skill_adobeills,.education_footer_left_cards_skill_adobexd,.education_footer_left_cards_skill_design,.education_footer_left_cards_skill_photoshop,.education_footer_left_cards_skill_figma{
  background:linear-gradient(90deg,white,pink,#f9004d);
  border-radius: 10px;
  height: 7px;
  visibility: visible;
  transition:  0.4s linear;
}
.education_footer_right_cards_skill_javascript{ 
  width: 0%;
}
.education_footer_right_cards_skill_html{ 
  width: 0%;
}
.education_footer_right_cards_skill_css{
  width: 0%;
}
.education_footer_right_cards_skill_software{
  width: 0%;
}
.education_footer_right_cards_skill_plugin{
  width: 0%;
}
.education_footer_left_cards_skill_photoshop{
  width: 0%;
}
.education_footer_left_cards_skill_adobexd{
  width: 0%;
}
.education_footer_left_cards_skill_adobeills{
  width: 0%;
}
.education_footer_left_cards_skill_design{
  width: 0%;
}
.education_footer_left_cards_skill_figma{
width:0%;
}
/* Resume Section Css End */

/*Portfolio Section*/
.portfolio{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}
.portfolio-header{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #FF014F;
}
.portfolio-header>h2{
    font-size: 3rem;
    color: #523E4C;
}
.portfolio-boxes{
    width: 27%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: gray;
    cursor: pointer;
}
.portfolio-boxes:hover{
    width: 28%;
    transition: 0.5s all;
    transform: translateY(-2%);
}
/*Contact Section*/
.contact{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5%;
}
.contact>h2{
    font-size: 50px;
}
.contact>p{
    font-size: 25px;
    color: #F93975;
}
.contact-all{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact-left{
    width: 30%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
}
.contact-image{
    width: 90%;
    height: 30%;
    border-radius: 10px;
    overflow: hidden;
}
.c-img{
    width: 100%;
    height: 100%;
    background-image: url(https://rainbowit.net/themes/inbio/wp-content/uploads/2021/08/contact1.png);
    background-size: cover;
    transition: 0.5s all;
}
.title-area{
    width: 90%;
    font-size: 30px;
}
.title-area>p{
    font-size: 15px;
}
.description{
    width: 90%;
    height: 20%;
    font-size: 20px;
    color: #523E4C;
}
.description>p>a{
    text-decoration: none;
    color: #523E4C;
    transition: 0.3s all;
}
.description>p>a:hover{
    color: #F93975;
    text-decoration-line: underline;
}
.social-area{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social-icons{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    color: #523E4C;
}
.contact-form{
    width: 65%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: space-between;
}
.inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: left;
    
}
label{
    margin: 0 0 3%;
    color: #523E4C;
}
.inputs>input{
    height: 40px;
    border-radius: 5px;
    border-color: #523e4c31;
}

textarea{
    border-radius: 5px;
    border-color: #523e4c31;
}
.send-input{
    width: 100%;
    height: 50px;
    font-size: 18px;
    border: none;
    color: #523E4C;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name-number{
    width: 47%;
    height: 18%;
}
/*Footer section*/
footer{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #523E4C;
}
/*Responsive design*/
@media screen and (max-width: 1100px) {
    nav{
        display: none;
    }
    .nav-bar{
        display: flex;
    }
    .logo{
        width: 30%;
    }
    .description{
        font-size: 1rem;
    }
}
@media screen and (max-width: 1000px){
    .about{
        height: 150vh;
    }
    .about-left{
        width: 90%;
        height: 60%;
        margin-bottom: 5%;
    }
    .img-div{
        width: 90%;
        height: 45%;
    }
    .contact{
        height: 180vh;
    }
    .contact-left{
        width: 100%;
        height: 50%;
        margin-bottom: 5%;
    }
    .contact-form{
        width: 100%;
        height: 50%;
    }
    footer{
        height: 15vh;
    }
}
@media screen and (max-width: 600px){
    .logo{
        width: 50%;
    }
    .portfolio{
        height: 140vh;
    }
    .portfolio-boxes{
        width: 40%;
        height: 20%;
    }
    footer{
        font-size: 1rem;
    }
}
@media screen and (max-width: 400px){
    .logo{
        width: 70%;
    }
}
